.playerWithOrg {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.playerPrefix {
  margin-right: 0.3em;
  color: #f5c410;
}

.entrant {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.35vh 30px;
  /* margin: 15px 40px 0px 30px; */
}

h2 {
  z-index: 3;
  font-size: 3.7vmin;
  font-weight: 500;
  color: #f6f6f6;
  margin: 0;
}
