.playerWithOrg {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.player,
.playerPrefix {
  z-index: 3;
  font-size: 3.2vmin;
  font-weight: 500;
  color: #f6f6f6;
  margin: 0;
}

.playerPrefix {
  margin-right: 0.3em;
  color: #f5c410;
}

.entrant {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.35vh 30px;
}
