body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
  padding-top: 20px;
  color: #f6f6f6;

}

h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #f6f6f6;
  margin: 0;
}

h3 {
  color: #011013;
  font-size: 2em;
  margin: 0px 3px 0px 0px;
}

.mainContainer {
  width: 1920px;
  height: 1080px;
  background-image: url('bg_grain+grad+overlay_1920x1080.png');
  background-color: black;
}

.headerContainer {
  width: 1920px;
  height: 183px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-top: 16px;
  padding-left: 20px; */
  padding: 10px;
}

.matchesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 1880px;
  height: 680px;
  margin: 17px 20px;
  padding-top: 30px;
  /* background-color: cornflowerblue; */
  /* opacity: 80%; */
}

.setContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.loadingAndError {
  font-size: 100px;
  font-weight: bolder;
  color: #f6f6f6;
}

.orgLogo {
  margin-right: 0px;
}

.chevron {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 64px;
  height: 56px;
  top: -25px;
  background-image: url('arrow_64x56.png');
}

.set {
  display: flex;
  flex-direction: column;
  width: 836px;
  height: 132px;
  border-radius: 25px;
  background-color: rgb(21, 21, 21, 0.5);
}

.entrant {
  display: flex;
  justify-content: space-between;
  margin: 15px 40px 0px 30px;
}

.scoreWin {
  display: flex;
  width: 45px;
  height: 44px;
  background-color: #06254b;
  justify-content: center;
}

.scoreLose {
  /* display: flex; */
  /* width: 45px; */
  /* height: 44px; */
  background-color: #832121;
  /* justify-content: center; */
}

.spacer{
  width: 45px;
}