.clockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

.clock {
  line-height: 5vh;
  font-size: 3vw;
  font-weight: bolder;
  color: #f6f6f6;
}

.h2 {
  font-size: 2vw;
}
