.headerContainer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  padding: 1% 0;
  background-color: rgb(3, 252, 198, 0.3);
}

h1 {
  margin: 0;
  font-size: 3.5vw;
  align-self: center;
}

.flex1 {
  flex-grow: 1;
}

.mainLogo {
  flex-grow: 2;
  height: 80%;
  width: auto;
}
