img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  margin: 0;
  color: #f6f6f6;
  font-size: 3.5vw;
  align-self: center;
}

.headerContainer {
  width: 100%;
  height: 15%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 10px 3em;
  background-image: url(../../assets/images/bg_header_1920x186.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.flex,
.space {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.space {
  justify-content: flex-start;
}

.logoDiv,
.eventLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 50%;
  max-width: 50%;
}

.logoDiv {
  justify-content: flex-start;
}

.orgLogos {
  padding: 13px;
}
.eventLogo {
  min-width: 90%;
  min-height: 70%;
}
